*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', 'open-sans',
        sans-serif;
    min-height: 80%;
    color: #212121;
}

html {
    position: relative;
    overflow-x: hidden;
    margin: 4px;
    padding: 0;
    font-size: 58%;
}

body {
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.01rem;
    color: #212121;
    background-color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

table {
    margin: 10px auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 3rem;
    background-color: #f5f5f5;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24), 0 1px 2px 0 rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24), 0 1px 2px 0 rgba(0, 0, 0, 0.48);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24), 0 1px 2px 0 rgba(0, 0, 0, 0.48);
}

caption {
    font-size: 1.8rem;
    line-height: 2.6rem;
    letter-spacing: 0.02rem;
    font-weight: 300;
    color: #212121;
    text-align: center;
    margin-bottom: 1rem;
}

table > thead > tr,
table > tbody > tr {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #f5f5f5;
}

table > thead > tr > th,
table > tbody > tr > th,
table > thead > tr > td,
table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 0.8rem;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}

table > tbody > tr > td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}

table > thead > tr > th {
    font-weight: 400;
    color: #757575;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

table > tbody + tbody {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

table table {
    background-color: #333339;
}

table {
    border: 0;
}

table > tbody > tr:last-child > td {
    border-bottom: 0;
}

table > thead > tr > th,
table > thead > tr > td {
    border-bottom-width: 2px;
}

table > tbody > tr:hover > td,
table > tbody > tr:hover > th {
    background-color: rgba(0, 0, 0, 0.12);
}

.clickable {
    cursor: pointer;
}
